# Ignore typical model/media/data outputs
*.jpg
*.jpeg
*.png
*.gif
*.mp4
*.MP4
*.avi
*.mov
*.mkv
*.tif
*.npz
*.zip
*.tar.gz
*.cache
*.egg
*.egg-info/
*.dist-info/
*.csv
*.dat
*.log
*.json

# Ignore Python build/cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore venvs and build artifacts
env/
venv/
myenv/
build/
dist/
tests/

# Ignore specific folders inside data/ that contain large files
data/collections/
data/saved_videos/
data/logs/

# Ignore all inside data/
data/**

# But allow these:
!data/
!data/*.pkl
!data/embeddings/



# Ignore documentation and test folders
docs/
logs/
scripts/
tests/

