#ignore models
*.jpg
*.png
*.jpeg
*.mov
*.mp4
*.avi
*.gif
*.mkv
*.MP4
*.tif
*.zip
*.npz
*.json
*.cache
*.dat
*.csv
*.egg-info/
*.egg
*.tar.gz


__pycache__/

data/collections/
data/saved_videos/
data/logs/

myenv/

docs/
logs/
scripts/
tests/


build/
dist/

