#ignore models
*.pt
myenv/
*.jpg
*.png
*.mov
*.mp4
*.avi
*.gif
*.mkv
*.MP4
*.tif
*.zip


*.txt
*.json

*.engine
*.onnx
*.pt
*.cache
*.dat
*.csv
videos/
runs/

jetson_packages/
models/
__pycache__/

results/
.vscode/