#ignore models
*.pt
myenv/
*.jpg
*.png
*.jpeg
*.mov
*.mp4
*.avi
*.gif
*.mkv
*.MP4
*.tif
*.zip
*.npz
*.json

*.engine
*.onnx
*.pt
*.cache
*.dat
*.csv
*.log
videos/
runs/

jetson_packages/
models/
__pycache__/

results/
.vscode/

hb-videos/

# Ignore all folders named "models"
/models
# But do NOT ignore the specific folder "facenet_pytorch/models"
!/facenet_pytorch/models

data/embeddings/
src/face_recognition.egg-info/

build/
dist/
*.egg-info/
*.egg
*.whl
*.tar.gz
*.zip

*.txt

.env
